---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <main class="flex flex-col items-center justify-center text-center">
    <h1 class="text-8xl text-white font-bold mx-auto">404</h1>
    <h2 class="mx-auto text-white">Page not found</h2>
    <img
      src="https://media.tenor.com/VwzInr5EDMMAAAAd/fadsfantasy.gif"
      alt="Monkey gif"
      width="50%"
      class="mt-4"
    />
  </main>
</Layout>
