---
import Layout from "../layouts/Layout.astro";
import { UserRegister, isLoggedIn } from "../services/auth";
import type { User } from "../types/api";

let isErr: boolean = false;

if (Astro.cookies.has("jwt_token") && Astro.cookies.has("user_id")) {
  let jwtToken = Astro.cookies.get("jwt_token")?.value as string;
  let secretKey: string = import.meta.env.SECRET_KEY;

  if (isLoggedIn(jwtToken, secretKey)) {
    return Astro.redirect("/");
  }
} else {
  if (Astro.request.method == "POST") {
    try {
      const formData = await Astro.request.formData();
      const name = formData.get("name");
      const lastName = formData.get("lastname");
      const email = formData.get("email");
      const password = formData.get("password");

      const user = { name, lastName, email, password } as User;

      let apiUrl: string = import.meta.env.API_URL;

      const response = await UserRegister(user, apiUrl);

      if (response.status != 200 && response.status != 201) {
        isErr = true;
      } else {
        return Astro.redirect("/login");
      }
    } catch (e) {
      console.log(e);
    }
  }
}
---

<Layout title="Register">
  <main class="min-h-screen">
    <div class="py-2 px-2 mt-4 mx-auto max-w-fit">
      <h2
        class="text-3xl font-semibold tracking-widest text-black dark:text-white"
      >
        Register
      </h2>
    </div>
    <form
      method="post"
      class="w-11/12 mx-auto mt-4 py-5 items-center justify-center rounded-lg lg:w-2/6"
    >
      <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col mb-4 w-3/4 lg:w-2/3">
          <label class="mb-1 text-xl text-black dark:text-white lg:text-3xl"
            >Name:</label
          >
          <input
            class="py-4 px-8 border border-gray-200 rounded-xl shadow-[0_3px_30px_rgb(159,35,255,0.5)]"
            type="text"
            name="name"
            placeholder="Nayaret"
            required
          />
        </div>

        <div class="flex flex-col mb-4 w-3/4 lg:w-2/3">
          <label class="mb-1 text-xl text-black dark:text-white lg:text-3xl"
            >Last name:</label
          >
          <input
            class="py-4 px-8 border border-gray-200 rounded-xl shadow-[0_3px_30px_rgb(159,35,255,0.5)]"
            name="lastname"
            placeholder="Silva"
            required
          />
        </div>

        <div class="flex flex-col mb-4 w-3/4 lg:w-2/3">
          <label class="mb-1 text-xl text-black dark:text-white lg:text-3xl"
            >Email:</label
          >
          <input
            class="py-4 px-8 border border-gray-200 rounded-xl shadow-[0_3px_30px_rgb(159,35,255,0.5)]"
            type="email"
            name="email"
            placeholder="user@email.com"
            required
          />
        </div>

        <div class="flex flex-col mb-1 w-3/4 lg:w-2/3">
          <label class="mb-1 text-xl text-black dark:text-white lg:text-3xl"
            >Password:</label
          >
          <input
            class="py-4 px-8 border border-gray-200 rounded-xl shadow-[0_3px_30px_rgb(159,35,255,0.5)]"
            type="password"
            name="password"
            placeholder="********"
            minlength="8"
            required
          />
        </div>
        <div class="mx-auto w-fit">
          {
            isErr ? (
              <p class="text-red-600 bg-red-400 rounded-xl py-2 px-4 mt-2">
                Invalid data. Please try again.
              </p>
            ) : (
              <p class="hidden" />
            )
          }
        </div>
        <button
          type="submit"
          class="mt-10 mb-5 py-2 px-8 text-lg font-medium rounded-lg shadow-[0_3px_30px_rgb(159,35,255,0.7)] text-black dark:text-white hover:scale-110"
          >Create</button
        >
        <a
          href="/login"
          class="underline-offset-8 underline text-purple-500 font-light"
          >You have an account?</a
        >
      </div>
    </form>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800&display=swap");
  h2 {
    font-family: "Unbounded", sans-serif;
  }
</style>
