---
interface Props {
  id: string;
  name: string;
  description: string;
  active: boolean;
}

const { id, name, description, active } = Astro.props;
---

<a href=`/task/${id}`>
  <div
    class:list={[
      "w-5/6 h-20 p-4 mx-auto mb-2 border-t border-l border-r-4 border-b-4 border-black rounded-xl lg:w-1/3 hover:scale-105",
      {
        "bg-colors-lynch-200 text": active,
        "bg-colors-lynch-900 ": !active,
      },
    ]}
  >
    <div
      class="text-end items-center overflow-hidden max-w-xs flex float-right flex-col"
    >
      <h3
        class:list={[
          " text-sm text-end font-bold",
          {
            "text-colors-lynch-900": active,
            "text-colors-lynch-300": !active,
          },
        ]}
      >
        {name ?? "Texto de prueba"}
      </h3>
      <p
        class:list={[
          "text-xs font-medium mt-1",
          {
            "text-colors-lynch-800": active,
            "text-colors-lynch-500": !active,
          },
        ]}
      >
        {description ?? "Descripcion de la tarea"}
      </p>
    </div>
  </div>
</a>
