---
import HeaderButton from "./HeaderButton.astro";
import { isLoggedIn } from "../services/auth";

let jwtToken: string = "";
let isLogged: boolean = false;
let secretKey: string = "";

if (Astro.cookies.has("jwt_token") && Astro.cookies.has("user_id")) {
  jwtToken = Astro.cookies.get("jwt_token")?.value as string;
  secretKey = import.meta.env.SECRET_KEY;

  if (!isLoggedIn(jwtToken, secretKey)) {
    Astro.cookies.delete("jwt_token");
    Astro.cookies.delete("user_id");
    isLogged = false;
  } else {
    isLogged = true;
  }
} else {
  isLogged = false;
}
---

<header
  class="py-8 mx-auto items-center px-4 flex flex-col shadow-[0_3px_10px_rgb(159,35,255,0.2)] lg:flex-row lg:items-normal lg:justify-between"
>
  <a class="lg:mx-3 flex flex-row" href="/">
    <img
      class="items-center justify-center flex"
      width="40"
      src="/favicon.png"
      alt="TaskSync Logo - Empowering Your Productivity with Seamless Task Management"
    />
    <h1
      class="text-4xl font-bold text-black dark:text-white lg:text-3xl tracking-widest"
    >
      TaskSync
    </h1>
  </a>

  <nav class="font-medium mt-5 lg:mt-0">
    {
      isLogged ? (
        <>
          <HeaderButton href="/account">👤 My Account</HeaderButton>
          <logout-button>
            <HeaderButton href="/login">🚪 Logout</HeaderButton>
          </logout-button>
        </>
      ) : (
        <slot />
      )
    }
  </nav>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800&display=swap");
    h1 {
      font-family: "Unbounded", sans-serif;
    }
  </style>

  <script>
    class LogoutButton extends HTMLElement {
      constructor() {
        super();

        const button = this.querySelector("a");

        button?.addEventListener("click", () => {
          document.cookie.split(";").forEach(function (c) {
            document.cookie = c
              .replace(/^ +/, "")
              .replace(
                /=.*/,
                "=;expires=" + new Date().toUTCString() + ";path=/"
              );
          });
        });
      }
    }
    customElements.define("logout-button", LogoutButton);
  </script>
</header>
