---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class="py-2 px-4 mx-2 font-light text-md text-white border-2 border-purple-800 rounded-lg hover:bg-purple-800 lg:mx-3"
  href={href}
>
  <slot />
</a>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800&display=swap");

  a {
    font-family: "Unbounded", sans-serif;
  }
</style>
